:root {
    --background-color: #3a3e4f;
    --card-color: #282a36;
    --text-color: #f8f8f2;
    --clr-green: #a0faa6;
    --clr-blue: #8bfbf5;
    --clr-pink: #ff79c6;
    --clr-purple: #9b70c6;
    --clr-yellow: #f1fa94;
    --clr-olive: #8ea69e;
    --clr-leafy: #a4b89f;
    --gradient: linear-gradient(
      244deg,
      #9b70c6 2%,
      #8bfbf5 49%,
      #a0faa6 71%,
      #f1fa94 100%
    );
  }

  body {
    background-image: url("flowerbackground1.png");
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background: whitesmoke; */
    /* background: var(--background-color); */
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--card-color);
    /* color: var(--text-color); */
    /* height: 100vh; */
    gap: 3vh;
    /* max-width: 1200px; */
    width: 85vw;
    margin: 0 auto;
  }
  .download-btn {
    width: 11em;
    margin: 1rem auto 2rem auto;
    padding: .9rem;
    position: relative;
    bottom: 10%;
    font-size: 1em;
    background: floralwhite;
    border-radius: 3px;
    border: 1px solid floralwhite;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .download-btn:hover {
    background: var(--clr-leafy);
    border: 1px solid var(--clr-leafy);
    color: var(--text-color);
  }
  .download-btn:active {
    background: var(--clr-olive);
    border: 1px solid var(--clr-olive);
    color: var(--text-color);
  }
  h2 {
    align-self: center;
    margin: 0 auto;
  }
  .card-a {
    /* background-image: url("jime\ -\ Copy.png"); */
    /* background-size: cover; */
    /* background-position: center; */
    margin: 2rem auto;
    display: flex;
    min-width: 28.8rem;
    height: 46.8rem;
    /* width: 16rem;
    height: 26rem; */
    position: relative;
    background-image: url("background-a.png");
    background-size: cover;
    background-color: floralwhite;
    /* background-color: var(--card-color); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); */
    border-radius: 5px;
    /* border-radius: 10px; */
    align-self: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .card-b {
    /* background-image: url("jime\ -\ Copy.png"); */
    /* background-size: cover; */
    /* background-position: center; */
    margin: 0 auto;
    display: flex;
    min-width: 28.8rem;
    height: 46.8rem;
    /* width: 16rem;
    height: 26rem; */
    position: relative;
    background-image: url("background-c.png");
    background-size: cover;
    background-color: floralwhite;
    /* background-color: var(--card-color); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); */
    border-radius: 5px;
    /* border-radius: 10px; */
    align-self: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .card-c {
    /* background-image: url("jime\ -\ Copy.png"); */
    /* background-size: cover; */
    /* background-position: center; */
    margin: 2rem auto;
    display: flex;
    min-width: 28.8rem;
    height: 46.8rem;
    /* width: 16rem;
    height: 26rem; */
    position: relative;
    background-image: url("background-b.png");
    background-size: cover;
    background-color: floralwhite;
    /* background-color: var(--card-color); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); */
    border-radius: 5px;
    /* border-radius: 10px; */
    align-self: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .card3a::after {
    content: "";
    background-image: url("jime.png");
    background-size: cover;
    background-position: center;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-align: left;
    color: black;
    width: 100%;
    height: 100%;
    transform: translateX(95%);
    transition: ease 1s;
    /* transition: ease 0.7s; */
    position: absolute;
    border-radius: 0px 0px 10px;
    background-color: var(--clr-purple);
  }
  .card3a:active::after {
    transform: translateX(0%);
    border-radius: 5px;
    background-image: url("jime\ -\ Copy.png");
  }
  .card3b::after {
    content: "";
    background-image: url("seoul-sheraton.png");
    background-size: cover;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-align: left;
    color: black;
    width: 100%;
    height: 100%;
    transform: translateX(95%);
    transition: ease 1s;
    /* transition: ease 0.7s; */
    position: absolute;
    border-radius: 0px 0px 10px;
    background-color: var(--clr-olive);
  }
  .card3b:active::after {
    transform: translateX(0%);
    border-radius: 5px;
    background-image: url("seoul-sheraton\ -\ Copy.png");
    background-position: center;
  }
  .card3c::after {
    content: "";
    background-image: url("versailles.png");
    background-size: cover;
    
    font-size: 20px;
    writing-mode: vertical-rl;
    text-align: left;
    color: black;
    width: 100%;
    height: 100%;
    transform: translateX(95%);
    transition: ease 1s;
    /* transition: ease 0.7s; */
    position: absolute;
    border-radius: 0px 0px 10px;
    background-color: var(--clr-pink);
  }
  .card3c:active::after {
    transform: translateX(0%);
    border-radius: 5px;
    background-image: url("versailles\ -\ Copy.png");
    background-position: center;
  }
  /* .inner-container-a {
    background-color: floralwhite;
    border-radius: 5px;
    border: 2px solid #282a36;
    margin: 0 25.6px 0px 12.8px;
    height: 95%;
    width: 100%;
  } */


  /* EXTRA CARDS */
  /* ----------------------------------------------------------- */
    /* .card1::after {
    content: "How";
    font-size: 20px;
    color: var(--clr-yellow);
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--clr-yellow);
    transform: translateY(80%);
    transition: ease 0.8s;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    z-index: 2000;
  }
  .card1:hover::after {
    transform: translateY(0%);
    color: black;
  }
  .card2 {
    background-image: var(--gradient);
    color: black;
  }
  .card2::after {
    content: "you";
    font-size: 20px;
    color: white;
    text-align: left;
    width: 101%;
    height: 101%;
    transform: translateX(-70%) translateY(-90%);
    transition: ease 0.7s;
    position: absolute;
    border-radius: 10px;
    background-color: #282a36;
  }
  .card2:hover::after {
    transform: translate(0);
    border-radius: 10px;
  } */

  .clickable-area-lodging {
    position: absolute;
    top: 62%;
    left: 9%;
    width: 24%;
    height: 15%;
    cursor: pointer;
    /* background-color: black; */
  }
  .clickable-area-transit {
    position: absolute;
    top: 80%;
    left: 9%;
    width: 24%;
    height: 15%;
    cursor: pointer;
    /* background-color: black; */
  }
  .clickable-area-rsvp {
    position: absolute;
    top: 64%;
    left: 68%;
    width: 24%;
    height: 14%;
    cursor: pointer;
    /* background-color: black; */
  }
  

@media screen and (min-width: 1420px) {
  .cards-container {
    height: 100vh;
  }
  /* .body {
    height: 100vh;
  } */
}


@media screen and (max-width: 1700px) {
  .card-a, .card-b, .card-c {
    min-width: 24em;
    height: 39em;
  }
  /* .clickable-area-rsvp {
    position: absolute;
    top: 64%;
    left: 68%;
    width: 5.65em;
    height: 5.65em;
    cursor: pointer;
    background-color: black;
  } */
}
@media screen and (max-width: 800px) {
  .card-a, .card-b, .card-c {
    min-width: 16em;
    height: 26em;
  }
  /* .clickable-area-rsvp {
    position: absolute;
    top: 64%;
    left: 68%;
    width: 3.65em;
    height: 3.65em;
    cursor: pointer;
    background-color: black;
  } */
}


@media screen and (max-height: 800px) {
  .card-a, .card-b, .card-c {
    min-width: 24em;
    height: 39em;
  }
  /* .clickable-area-rsvp {
    position: absolute;
    top: 64%;
    left: 68%;
    width: 5.65em;
    height: 5.65em;
    cursor: pointer;
    background-color: black;
  } */
}
@media screen and (max-height: 680px) {
  .card-a, .card-b, .card-c {
    min-width: 20em;
    height: 32.5em;
  }
  /* .clickable-area-rsvp {
    position: absolute;
    top: 64%;
    left: 68%;
    width: 4.65em;
    height: 4.65em;
    cursor: pointer;
    background-color: black;
  } */
}
@media screen and (max-height: 600px) {
  .card-a, .card-b, .card-c {
    min-width: 16em;
    height: 26em;
  }
  /* .clickable-area-rsvp {
    position: absolute;
    top: 64%;
    left: 68%;
    width: 3.65em;
    height: 3.65em;
    cursor: pointer;
    background-color: black;
  } */
}